$background-color: #eee;
$text-color: #444;
$base-margin: 40px;

body {
  background-color: $background-color;
  color: $text-color;
  margin: 0;
}

@import 'reset';
@import 'App';
@import 'SearchForm';
@import 'GeocodeResult';
@import 'Map';
@import 'HotelsTable';
@import 'HotelsClickableTh';
